examples/notify.json
[
  {
    "id": "96c0e76d4d75681e",
    "type": "tab",
    "label": "Flow 3",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "765f805efe882cab",
    "type": "inject",
    "z": "96c0e76d4d75681e",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 260,
    "wires": [["c5b1a542c41164aa"]]
  },
  {
    "id": "c5b1a542c41164aa",
    "type": "telegrambot-switch",
    "z": "96c0e76d4d75681e",
    "name": "",
    "bot": "1920d99f282aedbb",
    "chatId": "1234",
    "question": "Should I turn on the lights?",
    "answers": ["Yes", "No"],
    "outputs": 2,
    "autoAnswerCallback": true,
    "verticalAnswers": false,
    "timeoutValue": "",
    "timeoutUnits": "",
    "x": 340,
    "y": 260,
    "wires": [
      ["03a75b3e19f06672", "a9be69d1b8ee489e"],
      ["8b81ec18fe39d09b", "e7db54f753e221a8"]
    ]
  },
  {
    "id": "03a75b3e19f06672",
    "type": "debug",
    "z": "96c0e76d4d75681e",
    "name": "Yes",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 180,
    "wires": []
  },
  {
    "id": "8b81ec18fe39d09b",
    "type": "debug",
    "z": "96c0e76d4d75681e",
    "name": "No",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 320,
    "wires": []
  },
  {
    "id": "a9be69d1b8ee489e",
    "type": "telegrambot-notify",
    "z": "96c0e76d4d75681e",
    "name": "",
    "bot": "1920d99f282aedbb",
    "chatId": "1234",
    "message": "Ok, I've turn on the lights!",
    "parseMode": "",
    "x": 540,
    "y": 220,
    "wires": []
  },
  {
    "id": "e7db54f753e221a8",
    "type": "telegrambot-notify",
    "z": "96c0e76d4d75681e",
    "name": "",
    "bot": "1920d99f282aedbb",
    "chatId": "1234",
    "message": "Ok, I'll leave them turned on.",
    "parseMode": "",
    "x": 540,
    "y": 360,
    "wires": []
  },
  {
    "id": "1920d99f282aedbb",
    "type": "telegrambot-config",
    "botname": "MyTelegramBot",
    "usernames": "",
    "chatIds": "",
    "pollInterval": "300"
  }
]
