examples/switch.json
[
  {
    "id": "96c0e76d4d75681e",
    "type": "tab",
    "label": "Flow 3",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "c5b1a542c41164aa",
    "type": "telegrambot-switch",
    "z": "96c0e76d4d75681e",
    "name": "",
    "bot": "1920d99f282aedbb",
    "chatId": "1234",
    "question": "Should I turn on the lights?",
    "answers": ["Yes", "No", "In 1 Hour"],
    "outputs": 3,
    "autoAnswerCallback": true,
    "verticalAnswers": false,
    "timeoutValue": "",
    "timeoutUnits": "",
    "x": 340,
    "y": 260,
    "wires": [["03a75b3e19f06672"], ["8b81ec18fe39d09b"], ["ee0ce65c3a15eb3c"]]
  },
  {
    "id": "765f805efe882cab",
    "type": "inject",
    "z": "96c0e76d4d75681e",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 260,
    "wires": [["c5b1a542c41164aa"]]
  },
  {
    "id": "03a75b3e19f06672",
    "type": "debug",
    "z": "96c0e76d4d75681e",
    "name": "Yes",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 220,
    "wires": []
  },
  {
    "id": "8b81ec18fe39d09b",
    "type": "debug",
    "z": "96c0e76d4d75681e",
    "name": "No",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 260,
    "wires": []
  },
  {
    "id": "ee0ce65c3a15eb3c",
    "type": "delay",
    "z": "96c0e76d4d75681e",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "hours",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 520,
    "y": 300,
    "wires": [["e8a7b9772fcf257c"]]
  },
  {
    "id": "e8a7b9772fcf257c",
    "type": "debug",
    "z": "96c0e76d4d75681e",
    "name": "In 1 Hour",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 340,
    "wires": []
  },
  {
    "id": "1920d99f282aedbb",
    "type": "telegrambot-config",
    "botname": "MyTelegramBot",
    "usernames": "",
    "chatIds": "",
    "pollInterval": "300"
  }
]
